*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Nunito', 'Open Sans', Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
    font-size: 16px;
}

.container{
    display: flex;
    justify-content: center; /* centralizar horizontalmente*/
    padding: 0.5rem 7rem;
}

.card {
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    margin: 25px;
    border: 1px solid #ddd;
    border-radius: 7px;
    overflow: hidden;
}
.header{
    background-color: blue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
}
.cardcontent {
    padding: 20px;
    text-align: center;
}
.bignumber{
    line-height: 0.4;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
}
.centerbox{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    padding: 30px;
}

.desc{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.traco{
    background-color: #f5f5f5;
    width: 100%;
    min-height: 23px;
    margin-top: 10px;
    border-radius: 15px;
    overflow: hidden;
}
.progressbar{
    min-height: 100%;
    background-color: aqua;
}